*{
    margin: auto;
}

.main-header h1{
    font-size: 80px;
    background-color: brown;
    color: cornsilk;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    cursor: default;
    font-family: 'Concert One', cursive;
}

::-webkit-scrollbar{
    width: 12px;
    background-color: #a6a6a6;
}

::-webkit-scrollbar-thumb{
    border-radius: 14px;
    background-color: red;
}

#groot{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

#para p{
    cursor: default;
    font-size: 10vmin;
    font-family: 'Rakkas', cursive;
}

#input-field{
    font-size: 25px;
    border: 5px solid black;
    border-radius: 24px;
    text-align: center;
    position: relative;
    transform: translateX(150px);
    width: 15%;
    font-family: 'Concert One', cursive;
    transition: 0.5s;
}

#input-field:focus{
    width: 40%;
}

#main-button{
    border: 5px solid black;
    text-align: center;
    border-radius: 24px;
    transition: 1s;
    transform: translateX(80%);
    background-color: #d2691e;
    color: #1e90ff;
    font-family: 'Cairo', sans-serif;
    width:15%;
}

#main-button:hover{
    color: #56aaff;
    background-color: #944309;
}

#main-button h5{
    font-size: 25px;
    padding-left: 3px;
    padding-right: 3px;
}

#main-picture{
    position: fixed;
    left: 500px;
    top: 100px;
    visibility: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    
}

#main-picture.active{
    visibility: visible;
}

#main-body{
    padding-left: 5%;
}
